@{
    ViewBag.Title = "Contact";
    @Styles.Render("~/Content/contact/css");
    // @Styles.Render("~/Content/index/css")
}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fas fa-mobile-alt"></i>
                </div>

                <div class="service-content">
                    <h3 class="title">Phone</h3>
                    <p class="description">
                        38-08-09
                        <br> +79081736457
                    </p>
                </div>

            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fas fa-laptop"></i>
                </div>

                <div class="service-content">
                    <h3 class="title">E-mail</h3>
                    <p class="description">
                        VictoriaSecret@yandex.ru VictoriaSecret@mail.ru
                    </p>
                </div>

            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fas fa-map-marked-alt"></i>
                </div>

                <div class="service-content">
                    <h3 class="title">Address</h3>
                    <p class="description">
                        Sochi, p. Lazarevskoe, st. Amber, 2
                    </p>
                </div>

            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fas fa-users"></i>
                </div>

                <div class="service-content">
                    <h3 class="title">Social networks</h3>
                    <p class="description pt-4">
                        <a href="#">
                            <i class="fab fa-instagram   " style="font-size:30px;color:black;"></i></i>
                        </a>
                        <a href="#"> <i class="fab fa-vk   " style="font-size:30px; color: black;"></i></a>
                        <a href="#"> <i class="fab fa-facebook-square  " style="font-size:30px; color: black;"></i></a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- ./row -->
</div>
<!-- ./container -->
