@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/index/css")
    <div class="container marketing">

        <!-- /.row -->
        <br>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Welcome! </h2>
                <p class="lead">Thanks to its ideal location on the seashore, our hotel will provide a relaxing and comfortable stay for any traveler.Enjoy a sumptuous complimentary breakfast before starting your day. Relax in our heated pool, bask in the sun terrace, or just cross the street and plunge into the sand. </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="~/Content/img/hotel1.jpg">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Why choose our hotel?</h2>
                <p class="lead">Hotel "Victoria's Secret" gives you many reasons to relax and more opportunities to play than any other hotel located nearby, just 14 steps from the beach. Hotel guests are offered: a full continental buffet breakfast, wine and cheese receptions, a spa, dinner and a beach club.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="~/Content/img/surf-sand-resort.jpg">
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Content/img/breakfast.jpg" width="140" height="140">
                <h2>Daily breakfast for two</h2>
                <p>Enjoy breakfast at one of the best restaurants while enjoying a stylish break.</p>

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Content/img/Restaurant.jpg" width="140" height="140">
                <h2>Restaurant</h2>
                <p>Enjoy food on the beach all day. It offers fresh dishes, wine and craft cocktails, as well as stunning views.</p>

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Content/img/location.jpg" width="140" height="140">
                <h2>Remarkable location</h2>
                <p>
                    The hotel is ideally located on the beach, a few steps from the promenade and a few steps from outdoor adventures.
                </p>
                            </div>
            <!-- /.col-lg-4 -->

        </div>
        <br> <br> <br><br> <br> <br>
    </div>